#rename to .env

VITE_API_PREFIX=http://localhost:8002
VITE_RECENT_RESET=false
VITE_UNISWAPV3=false
VITE_APP_NAME=Uniswap
VITE_APP_INFO_URL=https://v2.info.uniswap.org
VITE_ANCHOR_EXPLORER=
VITE_APP_NETWORK=Ethereum