#rename to .env

VITE_API_PREFIX=http://localhost:8002
VITE_RECENT_RESET=false
VITE_UNISWAPV3=false
VITE_APP_NAME=Uniswap
VITE_APP_INFO_URL=https://v2.info.uniswap.org
VITE_ANCHOR_EXPLORER=
VITE_APP_NETWORK=Ethereum
VITE_24H_TOP_PAIRS_PROJECT_ID=aggregate_uniswap_24h_top_pairs_lite:8c762f3cddc796c865e117360d044f7896c0b97c00f646b3a08a6a2deb592762:UNISWAPV2-ph15-prod
VITE_7D_TOP_PAIRS_PROJECT_ID=aggregate_uniswap_7d_top_pairs_lite:a950a5bed939bc1c3731542dfc5b49f94432a1b234f50eadc4dfbfd8144c3fdc:UNISWAPV2-ph15-prod
VITE_24H_STATS_PROJECT_ID=aggregate_uniswap_24h_stats_lite:8c762f3cddc796c865e117360d044f7896c0b97c00f646b3a08a6a2deb592762:UNISWAPV2-ph15-prod
VITE_24H_TOP_TOKENS_PROJECT_ID=aggregate_uniswap_24h_top_tokens_lite:8c762f3cddc796c865e117360d044f7896c0b97c00f646b3a08a6a2deb592762:UNISWAPV2-ph15-prod